.circularBar {
    width: 100px;
    height: 100px;
  }
  
  .svg {
    transform: rotate(-90deg);
  }
  
  .circle {
    fill: none;
  }
  
  .background {
    stroke: #ddd;
    stroke-width: 6;
  }
  
  .progress {
    stroke: url(#gradient);
    stroke-width: 6;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  @keyframes bounce-custom {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem); /* Adjust as needed */
    }
  }
  
  .animate-bounce-custom {
    animation: bounce-custom 1s infinite;
  }
  